# ==============================================
# Common SEPolicy Rule
# ==============================================

# TODO:: Security Issue.

# Date: 2016/02/26
# Operation: Migration
# Purpose: Allow MTK modified ElephantStress and WhatsTemp to read thermal zone temperatures
#					 from MTK kernel modules for thermal tests at OEM/ODM.
allow untrusted_app proc_mtktz:dir search;
allow untrusted_app proc_mtktz:file r_file_perms;

allow untrusted_app proc_atf_log:dir search;
allow untrusted_app proc_m4u:dir search;

get_prop(vendor_mtk_microtrust_tee_prop, untrusted_app)
get_prop(vendor_mtk_trustkernel_tee_prop, untrusted_app)
get_prop(vendor_mtk_trustonic_tee_prop, untrusted_app)
